 /* body{
   background-color: rgb(255, 255, 255);
}
.logo{
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 30px;

}
.src{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 4px;
    border-right-color: rgb(10, 10, 10);
    border-left-color: rgb(12, 12, 12);
    border-right-style: double;
    border-left-style: double;
  } 

.section{
background: linear-gradient(0deg,#9c91ff,#d496d0 50%,#ffd8f5);
height: 290px;
}

.image{
    vertical-align: middle;
    border-style: none;
} */


.row{
    display: flex;
    flex-wrap: wrap;
}
.w3-card-4{
    width:300px;height: 350px; border: solid rgb(212, 212, 212) 1px;border-radius: 15px; 
}
.w3-container{
    padding: 50px 40px;
    line-height: 1.4;
    font-weight: 600;
    
}
.w2-container{
  padding: 20px 20px;
  
}
.link{
  text-decoration:none;
  color: black;
}
.logo{
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    
   

}
.container{
    padding-top: 2px;
}
 .src{
    display: block;
    margin-left: auto;
    margin-right: auto;
   
  } 

 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  } 

.full{
    /* background: linear-gradient(0deg,#aea5fd,#d1afcf 50%,#ffeafa); */
    
    background-size: cover;
    background-color: rgb(0, 0, 0,0.4);
    width: 100%;
    height: 20px;
    margin: auto;
    border: 1px solid rgb(253, 251, 251);
    padding-top: 35px;
    
    background-color: rgb(254, 255, 255);
}
.fulls{
    filter: grayscale(0);
    padding-top: 40px;
  display: flex;
    justify-content: space-around;
    
    flex-wrap: wrap;  
}

.h1{
    border: 1px solid rgb(12, 12, 12) ;

    
} 

 .link{
    
    width: 320px;
display: flex;
flex-wrap:wrap-reverse ;
height: 180px;
justify-content: space-around;
align-items: center;
background-color: white;
color: #3a3a3a;
font-family: 'Raleway', sans-serif;
text-align: left;
margin-bottom: 10px;
padding: 2px  1px;
padding-left: 30px;
padding-right: 4px;
text-decoration: none;
font-weight: 600;
font-size: 16px;
border: solid rgb(211, 211, 211) 1px;
border-top:solid rgb(13, 56, 24)  4px;
border-radius: 8px;
}
.cardn{
    padding: 0px 0px;
    border: 0px 0px;
}
.link:hover{
    text-decoration: none;
color: rgb(249, 249, 250);
border-top:solid rgb(13, 56, 24)  3px;
background-color: rgb(94, 173, 94) ;
transition: 1s;
font-weight: lighter;


}



.cards{
    padding: 10px 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}